<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ECE4180 GPS Tracker Virtual Device</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.4/dist/leaflet.css" />
    <link rel="stylesheet" href="~/css/virtualdevice.css">
</head>
<body>
    
    <div id="content-wrapper" style="width: 100%; height:100%">
        <div id="main-map">        
        </div>
        <div id="main-console">
            <p></p>
        </div>
    </div>
</body>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"></script>
<script src="https://unpkg.com/leaflet@1.3.4/dist/leaflet.js"></script>
<script src="https://d3js.org/d3.v4.min.js"></script>-->
<script src="~/js/virtualdevice.js"></script>

</html>